.col-id                   { width: 7%; }
.col-fechaSolicitud       { width: 11%; }
.col-fechaInicio          { width: 11%; }
.col-fechaFin             { width: 11%; }
.col-docente              { width: 22%; }
.col-idDocente            { width: 13%; white-space: nowrap; }
.col-estado               { width: 18%; }
.col-estadoProrrogaCierre { width: 15%; }
.col-acciones             { width: 8%;  }

::ng-deep .mat-mdc-paginator {
  border-top: 1px solid rgba(3, 103, 143, 0.3);
  background: transparent;
}
